@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Flow+Circular&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--toastBorderRadius: 0.375rem;
	--toastMsgPadding: 1rem;
	--toastBarHeight: 3px;
	--toastBackground: theme('colors.zinc.800');
}

._toastBtn {
	position: absolute;
	top: 0.75rem;
	right: 0.75rem;
}

._toastItem {
	cursor: pointer;
	min-width: 24rem;
	max-width: 30rem;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #fff;
}

.loading-text {
	font-family: 'Flow Circular', sans-serif !important;
}

.rest-screen {
	min-height: calc(100vh - theme('height.20'));
}

.link {
	@apply underline decoration-sky-500 font-semibold underline-offset-2 hover:text-sky-500 transition duration-200;
}
